* {
    background-color: #1a1f26;
}

.buttons {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 20px;
}

img {
    max-width: 200px;
}

h1 {
    text-align: center;
}

.playerBoard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.clicked {
    border: 3px solid #f0ebdd;
    border-radius: 25px;
    padding: 10px;
}