* {
    background-color: #1a1f26;
    box-sizing: border-box;
    font-family: Avenir, "Noto Sans", "Proxima Nova", Montserrat, Arial;

}

body {
    margin: 0;
}

.wrap-all {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.startButton {
    color: #f0ebdd;
    font-size: 45px;
    padding: 5px 15px;
    margin: auto;
    border: 5px solid #f0ebdd;
    border-radius: 15px;
}

.buttons {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 20px;
    position:relative;
    top: 0;
    left: 0;
}

img {
    max-width: 200px;
    position:relative;
    top: 0;
    left:0;
}

h1 {
    text-align: center;
}

.playerBoard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.scoreBoard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.round, .score {
    color: #f0ebdd;
    border: 1px solid #f0ebdd;
    border-radius: 5px;
    padding: 5px;
    background-color: #1a1f26;
}


.round {
    padding: 30px 5px;
}

.paper {
    padding: 22.7345px 10px;
}

.clicked {
    border: 3px solid #f0ebdd;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    position: relative;
    top: 0;
    left: 0;
}

.paperclicked {
    border: 3px solid #f0ebdd;
    border-radius: 25px;
    padding: 22.7345px 10px;
    margin: 20px;
    position: relative;
    top: 0;
    left: 0;
}  

.compPick {
    background-color: transparent;
    max-width: 100px;
    position: absolute;
    top: 60px;
    left: 60px;
}

.compPickRemove {
    max-width: 1px;
    position: absolute;
    top: -1px;
    left: -1px;
}

.result {
    color: #f0ebdd;
    text-align: center;
    font-size: 26px;
}

.gameOver {
    color:#f0ebdd;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    border: 5px solid #f0ebdd;
    border-left: none;
    border-right: none;
/*    border-radius: 10px;*/
}

.playAgainButton {
    color:#f0ebdd;
    border: 3px solid #f0ebdd;
    text-align: center;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
    font-size: 20px;
}
/*
.hover {
    transform: scale(1.2);
    border: none;
}
*/