* {
    background-color: #1a1f26;
    box-sizing: border-box;
    font-family: Avenir, "Noto Sans", "Proxima Nova", Montserrat, Arial;

}

.wrap-all{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 20px;
}

img {
    max-width: 200px;
}

h1 {
    text-align: center;
}

.playerBoard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.paper {
    padding: 22.7345px 10px;
}
.clicked {
    border: 3px solid #f0ebdd;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
}

.paperclicked {
    border: 3px solid #f0ebdd;
    border-radius: 25px;
    padding: 22.7345px 10px;
    margin: 20px;
}  
